@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hanimation';
  src: url('../js/Components/fonts/Hanimation_Arabic_Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animate-slide {
  animation: slide 20s linear infinite;
  will-change: transform;
}

.custom-file-upload {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #f3f4f6;
  border: 1px solid #ccc;
  border-radius: 4px;
}


