@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hanimation';
  src: url('../js/Components/fonts/Hanimation_Arabic_Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes slide {
  0% {
    transform: translateX(-100%); /* تبدأ من يمين الشاشة */
  }
  100% {
    transform: translateX(100%); /* تنتهي في اليسار */
  }
}

.marquee-container {
  overflow: hidden; /* إخفاء النص عندما يخرج من الحاوية */
  white-space: nowrap;
}

.marquee {
  display: inline-block;
  padding-left: 100%;
  animation: slide linear infinite; /* الحركة مستمرة */
}


.custom-file-upload {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #f3f4f6;
  border: 1px solid #ccc;
  border-radius: 4px;
}


